.header-anchor {
    color: #000;
    text-decoration: none;
}

.header-anchor:hover {
    color: #000;
    opacity: 1;
    text-decoration: none;
    background-color: white;
}

.header-anchor:visited {
    color: #000;
}

nav {
    transform: translateX(-113%);
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 9vh;
    overflow-x: hidden;
    overflow-y: auto;
}

nav .selected {
    opacity: 1; 
    border-left: #37352F 3px solid;
}

nav .open {
    display: block;
    border-spacing: 20px;
}

blockquote {
    margin-bottom: 20px;
    margin-top: 20px;
}

nav h1 {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 2px;
    line-height: 25px;
}

nav h2 {
    margin-left: 22px;
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
}

nav h3 {
    margin-left: 40px;
    font-size: 14px;
    display: none;
}

nav h1, nav h2, nav h3 {
    font-weight: 100;
    opacity: 0.5;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav h1:hover, nav h2:hover, nav h3:hover {
    cursor: pointer;
    border-left: #37352F 3px solid;
}

#mobile_menu_button {
    transform: scale(0.9);
    display: none; 
    padding: 10px; 
    background-color: #37352F;
    color: white;
    position: fixed; 
    z-index: 2; 
    bottom: 20px;
    left: 20px;
    border-radius: 5px;
    opacity: 0.96;
}

#mobile_menu_buttom:hover {
    cursor: pointer; 
}

.closed{
    display: none; 
}

pre newline {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1300px) {    
    #mobile_menu_button {
        display: block; 
    }

    nav {
        display: none;
        padding: 10px;
        left: calc(195px + 20px);
        top: calc(100vh - (300px + 30px));
        width: 150px;
        max-height: 240px;
        overflow-y: auto;
        position: absolute fixed;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 5px;
    }
}