<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/assets/favicon.jpg" />
    <link rel="stylesheet" href="/css/md.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    
    <!-- Math and Code -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-fzff82+8pzHnwA1mQ0dzz9/E0B+ZRizq08yZfya66INZBz86qKTCt9MLU0NCNIgaMJCgeyhujhasnFUsYMsi0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">

    <!-- Startup Code -->
    <script>
    let headings = []; 
    let navHeadings = [];
    let content;
    let navBar; 
    
    function scrollBehavior(e) {
        navHeadings.forEach(e => e.node.className = "");
        let closest;
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            closest = navHeadings.length - 1;
        } else {
            const distances = Array.from(headings).map(e => Math.abs(e.getBoundingClientRect().top)); 
            closest = distances.indexOf(Math.min(...distances)); 
        }
        const parent = navHeadings[closest].parent; 
        const node = navHeadings[closest].node; 
        navHeadings.filter(e => e.parent == parent || e.parent == node).forEach(e => e.node.className = "open");
        navHeadings[closest].node.className = "selected open";
    }

    function load(e) {
        content = document.getElementById("blog_content");
        headings = content.querySelectorAll('h1, h2, h3');
        navBar = document.getElementsByTagName("nav")[0];
        const nav = document.getElementById("heading_tree");
        document.title = headings[0].textContent || document.title;
        headings.forEach((h, i) => { 
            const node = h.cloneNode(true)
            nav.append(node);
            const getParent = (i) => {
                if (!navHeadings[i - 1]) return; 
                while (parseInt(navHeadings[i - 1]?.node.tagName[1]) >= parseInt(h.tagName[1])) {
                    i--; 
                }
                return navHeadings[i - 1]?.node;
            }
            navHeadings.push({ node: node, parent: getParent(i) });
            node.onclick = () => {
                headings[i].scrollIntoView(true);
            }
        });
    }

    const toggleMobileMenu = () => {
        navBar.style.display = navBar.style.display == "block" ? "" : "block";
    }

    document.addEventListener("DOMContentLoaded", load);
    document.addEventListener("scroll", scrollBehavior);
</script>
</head>
<body>
    <div id="mobile_menu_button" onclick="toggleMobileMenu()">
        <i class="fas fa-bars"></i>
    </div>
    <nav>
    <h1 class="selected" onclick="window.location = '../'">Back Home</h1>
    <span id="heading_tree">
    </span>
    <br>
    <h1 onclick="window.scrollTo(0, 0)">Jump To Top</h1>
    <h1 onclick="window.scrollTo(0, document.body.scrollHeight)">Jump To Bottom</h1>
    </nav>
    <div id="blog_content">
        {{{content}}}
    </div>
</body>
</html>