<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.jpg" />
    <link rel="stylesheet" href="/css/md.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <!-- Math and Code -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false},
                  {left: '\\(', right: '\\)', display: false},
                  {left: '\\[', right: '\\]', display: true}
              ],
              throwOnError : false
            });
        });
    </script>
    <title>{{title}}</title>
</head>
<body onload="getAge()">
    <header>
        <h1>{{title}}</h1>
        <section>
            <blockquote>{{{quote}}}</blockquote>
            <div>
                {{#links}}
                    {{#link}}
                        <a href="{{url}}" target="{{target}}">{{text}}</a> |
                    {{/link}}
                    {{#last}}
                        <a href="{{url}}" target="{{target}}">{{text}}</a>
                    {{/last}}
                {{/links}}
            </div>
        </section>
    </header>
    {{#sections}}
        {{#section}}
        <section>
            <h2>{{{title}}}</h2>
            <p>{{{description}}}</p>
            
            <div class="container">
                {{#items}}
                    <div class="showcase" onclick="window.open('{{url}}', '{{target}}');">
                        <h3>{{{text}}}</h3>
                        <p>{{{description}}}</p>
                    </div>
                {{/items}}
            </div>
        </section>
        <hr>
        {{/section}}
        {{#last}}
        <section>
            <h2>{{{title}}}</h2>
            <p>{{{description}}}</p>
            
            <div class="container">
                {{#items}}
                    <div class="showcase" onclick="window.open('{{url}}', '{{target}}');">
                        <h3>{{{text}}}</h3>
                        <p>{{{description}}}</p>
                    </div>
                {{/items}}
            </div>
        </section>
        {{/last}}
    {{/sections}}

    <script>
        function getAge() {
            Array.from(document.getElementsByClassName('age')).forEach(e => e.innerHTML = new Date(new Date() - new Date("{{birthday}}")).getUTCFullYear() - 1970);
        }
    </script>
</body>
</html>